@font-face {
    font-family: "Iglets";
    font-style: normal;
    src: url("../fonts/Iglets.ttf");
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    src: url("../fonts/OpenSans-Light.ttf");
}

@media only screen and (max-width: 1000px) {
    .wrapper {
        padding: 0 50px;
    }
}

.to-main {
    position: fixed;
    background-image: url("../images/up.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    bottom: 10px;
    left: 10px;
    transition: 1s;
}

.to-main:hover {
    transform: scale(1.2);
}

html {
    scroll-behavior: smooth;
}

/*TEXT*/

h1 {
    font-family: "Iglets";
    font-size: 150px;
}

h1.index {
    font-size: 75px;
}

h2 {
    font-family: "Open Sans";
    font-size: 30px;
}

p {
    font-family: "Open Sans";
    font-size: 20px;
    line-height: 30px;
}

a {
    font-family: "Open Sans";
    font-size: 20px;
    color: #1E1E1E;
}

/*******************************************************************/

.dark-back {
    background-color: #1E1E1E;
}

.dark-back h1, .dark-back h2, .dark-back p {
    color: white;
}

.light-back {
    background-color: #E7E7E5;
}

.wrapper {
    padding: 0 150px;
}

/*HEADER*/

header nav {
    padding: 150px 0 100px 0;
}

nav ul li {
    margin-bottom: 10px;
}

/****************************************************************/

/*INTRO*/

.intro-content{
    position: relative;
    padding-top: 100px;
}

.main-header {
    position: absolute;
    top: 0;
    left: 25%;
    z-index: 1;
}

.author-description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.author-description .my-name img {
    height: 600px;
}

.author-description .my-name {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.author-description .about-me img {
    height: 900px;
    width: 650px;
    margin-bottom: -50px;
}

.author-description .about-me {
    position: relative;
    overflow: hidden;
}

.author-description .about-me p {
    position: absolute;
    left: 70px;
    bottom: 25%;
}

/*****************************************************************/

/*TOP-PROJECTS*/

section.top-projects {
    padding-top: 150px;
}

.projects-content {
    padding: 0 150px;
}

.projects-header {
    margin-bottom: 100px;
    padding-left: 15%;
}

.projects-header-top {
    display: flex;
    flex-direction: row;
}

.top-projects-main img {
    width: 100%;
    margin-bottom: 100px;
}

.top-project-main-text {
    padding-left: 15%;
}

.top-project-main-text h2 {
    text-decoration: underline;
    margin-bottom: 10px;
}

.project-item {
    display: flex;
    flex-direction: row;
    border: #E7E7E5 1px solid;
}

.top-projects-other {
    margin-top: 150px;
}

.project-item-index, .project-item-text, .project-item-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project-item-index {
    border-right: #E7E7E5 1px solid;
    width: 20%;
    align-items: center;
}

.project-item-text {
    padding-left: 50px;
}

.project-item-image {
    align-items: center;
}

.project-item-image img {
    height: 80%;
}

/****************************************************************/

/*SERVICES*/

section.services {
    padding-top: 150px;
}

section.services h1 {
    padding-left: 150px;
}

.services-list {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.services-list-row {
    display: flex;
    flex-direction: row;
}

.services-list-row .services-item {
    width: 350px;
}

.services-list-row .services-item {
    padding: 30px;
}

.services-list-row .services-item p {
    margin: 30px 0;
}

/*****************************************************************/

/*CONTACTS*/

section.contacts {
    padding: 150px 0;
}

section.contacts h1 {
    padding-left: 150px;
    margin-bottom: 100px;
}

.contacts-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contacts-list-column .contacts-item {
    display: flex;
    align-items: center;
}

.contacts-list-column .contacts-item:first-child {
    margin-bottom: 100px;
}

.contacts-list-column .contacts-item img {
    margin-right: 50px;
}

/*****************************************************************/

footer {
    padding: 50px 0;
}

footer h2 {
    text-align: right;
}